= form_for @part do |f|
  = error_messages_for @part

  .field
    = f.label :role
    = f.text_area :role
  .field
    = f.label :film
    = f.text_field :film
  .field
    = f.label :actor
    = f.text_field :actor
  .actions
    = f.submit 'Сохранить'
