= form_for @actor do |f|
  = error_messages_for @actor

  .field
    = f.label :ln
    = f.text_area :ln
  .field
    = f.label :fn
    = f.text_area :fn
  .field
    = f.label :sn
    = f.text_area :sn
  .field
    = f.label :birthday
    = f.date_select :birthday
  .actions
    = f.submit 'Сохранить'
