=breadcrumb_tag do
  %li.active
    Фильмы
  %li
    Кинотеатры/Фильмы

.page-header
  %h1= t('headers.films.index')

= link_to new_film_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.film')
= link_to search_films_path, class: 'btn btn-warning' do
  = fa_icon :search
  = t('buttons.films.Поиск')

.row
  .col-xs-12
    %table.table.table-hover
      %tbody
        - @films.each do |film|
          %tr.active
            %th= Film.human_attribute_name(:name)
            %td= film.name
          %tr
            %th= Film.human_attribute_name(:genre)
            %td= film.genre
          %tr
            %th= Film.human_attribute_name(:lasting)
            %td= film.lasting
          %tr
            %th= Film.human_attribute_name(:country)
            %td= film.country
          %tr
            %th= Film.human_attribute_name(:companies)
            %td= film.companies
          %tr
            %th= Film.human_attribute_name(:min_age)
            %td= film.min_age
          %tr
            %td
              = link_to film, class: 'btn btn-warning' do
                = fa_icon :eye
                = t('buttons.show')
              = link_to edit_film_path(film), class: 'btn btn-info' do
                = fa_icon :edit
                = t('buttons.edit')
              = link_to film, :method => :delete,
              :data => { :confirm => t('buttons.confirm.film') },
              class: 'btn btn-danger' do
                = fa_icon :times
                = t('buttons.destroy')
            %td