= form_for @address do |f|
  = error_messages_for @address


  .field
    = f.label :film
    = f.text_field :film
  .field
    = f.label :cinema
    = f.text_field :cinema
  .actions
    = f.submit 'Сохранить'
