=breadcrumb_tag do
  %li.active
    = t('headers.cinemas.edit')
  %li
    = link_to(@cinema.name, @cinema)
  %li
    = link_to 'Кинотреатры', cinemas_path
  %li
    Кинотеатры/Фильмы

.page-header
  %h1= t('headers.cinemas.edit')

= render 'form'
