=breadcrumb_tag do
  %li.active
    Кинотеатры
  %li
    Кинотеатры/Фильмы


.page-header
  %h1= t('headers.cinemas.index')

= link_to new_cinema_path, class: 'btn btn-success' do
  = fa_icon :plus
  = t('buttons.new.cinema')

.row
  .col-xs-12
    %table.table.table-hover
      %tbody
        - @cinemas.each do |cinema|
          %tr.active
            %th= Cinema.human_attribute_name(:name)
            %td= cinema.name
          %tr
            %th= Cinema.human_attribute_name(:address)
            %td= cinema.address
          %tr


            %td
              = link_to cinema, class: 'btn btn-warning' do
                = fa_icon :eye
                = t('buttons.show')
              = link_to edit_cinema_path(cinema), class: 'btn btn-info' do
                = fa_icon :edit
                = t('buttons.edit')
              = link_to cinema, :method => :delete,
              :data => { :confirm => t('buttons.confirm.cinema') },
              class: 'btn btn-danger' do
                = fa_icon :times
                = t('buttons.destroy')
            %td
