=breadcrumb_tag do
  %li.active
    = @cinema.name
  %li
    = link_to 'Кинотеатры', cinemas_path
  %li
    Кинотеатры/Фильмы

%h1= @cinema.name

%dl
  %dt= Cinema.human_attribute_name(:name)
  %dd= @cinema.name

  %dt= Cinema.human_attribute_name(:address)
  %dd= @cinema.address
